body {
    font-family: sans-serif;
    background-color: peru;
}

a {
    color: black;
    text-decoration: none;

    margin: 15px;
}

header {
    background-color: brown;
    padding: 10px;
    border: 10px dotted black;
    border-radius: 10px;
}

main a {
    margin: 15px;
}

header a {
    border: 2px dotted black;
    border-radius: 5px;
    padding: 2px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    background-color: brown;
    padding: 15px;
    border-radius: 10px;
    border: 7px dotted black;
}
