body {
    font-family: sans-serif;
    background-color: peru;
}

a {
    color: black;
    border: 2px dotted black;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

header {
    background-color: brown;
    padding: 15px;
    border: 10px dotted black;
    border-radius: 10px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

header a {
    background-color: peru;
}
